.mp{
    margin: 20px;
    padding: 30px;
}
.fCss{
    
    font-size: 2rem;
    font-weight: bold;
    font-family: monospace;
}
.test{
    color: rgb(0, 255, 13);
    background-color: red;
}
.test2, .test3{
    color: red;
    background-color: green;
}

/*
 #testId{
    color: violet;
} 
*/