*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


#parentDIv>  p{
    color: white;
    background-color: black;
    padding: 10px;
}
#parentDIv .child> p{
    color: yellow;
    background-color: green;
}

#parentDIv .child .grand-child>p {
        color: red;
        background-color: blue;
}

#pixel{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

#pixel .pt{
    width: 270px;
    height: 600px;
    background-color: rgba(0, 0, 255, 0.1);
    /* margin: 200px 50px 200px 50px; */
    margin: 200px 50px;
    padding: 50px;
    border-bottom: 5px dotted blue;
    cursor: pointer;
}

#bgi{
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
